@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body, html {
    margin: 0;
    padding: 0;
    background-color: #1C1C1C;
    color: #E0E0E0; 
    font-family: Arial, sans-serif;
}

.header {
    background-image: url('https://www.garage.movemycar.in/assets/images/content-image-2.png');
    height: 100vh; /* Teljes képernyős magasság */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Parallax hatás */
}

.content {
    padding: 200px;
    font-size: 18px;
}

.header {
    display: flex;
    align-items: center;   
    justify-content: center; 
    height: 100vh;  
    text-align: center;
}

.footer {
    background-color: #f0f0f0; 
    text-align: center; 
    padding: 20px; 
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0; 
    color: #333; 
    font-size: 14px; 
}

.pricelist td, th {
    border: 1px solid white;
}

.paros{
    background-color: grey;
}
nav
{
    background-color: #333;
    text-align: right;

}
.footer
{
    background-color: #f0f0f0;
    

}

.kecskemet
{
    margin-left: 100px;

}
 .szekesfehervar
 {
    margin-right: 100px;
    text-align: right;
 }

 .budapest
 {
    margin-left: 100px;
    
 }